@import "./src/variables";
@import "./src/mixins";
@import "./src/core";
@import "./src/desktop";
@import "variables.scss";
@import "eox.scss";
@import "./src/gui";
@import "./src/animations";
@import "~@fortawesome/fontawesome-pro/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
@import "./node_modules/bootstrap/dist/css/bootstrap.css";

body,
html {
  width: 100%;
  height: 100%;
}

.osjs-root {
  font-size: 15px;
  background-image: url("./src/images/wallpaper.png");
}

::-webkit-scrollbar {
  width: 15px;
}

.k-list-scroller {
  font-size: 14px;
}

.k-popup {
  padding: 0px;
}
.osjs-window {
  // @include window;
  // background: #275362;
  // padding :0px;

  // &[data-focused="false"] {
  //   opacity: 0.5;
  // }

  &[data-loading="true"] {
    pointer-events: none;

    &::after {
      background: #275362;
    }
  }
}

.osjs-window-button {
  position: relative;
  min-width: 0em;
  padding: 0px !important;
  margin-left: 1em;

  &:not(:last-child) {
    margin-right: 0;
  }

  & > div {
    width: 100%;
    height: 3em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &:hover > div {
    -webkit-transition: all 200ms ease-in;
    // -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    // -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    // -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    // transform: scale(1.2);
  }

  // &[data-action="minimize"] {
  //   & > div {
  //     background-position: 50% 50%;
  //     background-size: 14px;
  //     background-image: url("./src/images/minimize.svg");
  //   }
  //   &:hover {
  //     transform: scale(1.2);
  //   }
  // }
  // &[data-action="maximize"] {
  //   & > div {
  //     background-position: 50% 50%;
  //     background-size: 14px;
  //     background-image: url("./src/images/maximize.svg");
  //   }
  //   &:hover {
  //     transform: scale(1.2);
  //   }
  // }

  // &[data-action="close"] {
  //   min-width: 3em;

  //   & > div {
  //     background-position: 50% 50%;
  //     background-size: 14px;
  //     background-image: url("./src/images/close.svg");
  //   }

  //   &:hover {
  //     transform: scale(1.2);
  //   }
  // }
}

.osjs-window-content {
  background-color: #fff;
  margin: 0;
  height: calc(100% - #{$base-margin / 10});
  width: 100%;
  max-width: 100%;
}

.osjs-window-title {
  font-size: 14px;
  margin: 0px 0px 0px 9px;
  height: auto !important;
  color: white;
}

.osjs-window-icon {
  padding: 0;
}

.osjs-window-breadcrumb {
  display: flex;
  line-height: 0;
  flex-grow: 50;
  height: auto !important;
  align-items: baseline;
  font-size: 11px !important;

  .disabledBreadcrumb {
    font-weight: bold;
  }
}
.activeBreadcrumb > a > i {
  font-size: 0px;
}
.disabledBreadcrumb > a > i {
  font-size: 0px;
}
.osjs-gui-menu {
  ul {
    background-color: #265160;
    border: 1px solid #265160;
    color: white;
  }

  li:hover > div > span {
    background-color: $active-background;
  }
}

.osjs-panel-item[data-name="tray"] > div > img {
  margin-left: -7px !important;
}

.osjs-gui-menu-separator::after {
  background-color: #d7d7d7;
}

.osjs-gui-button {
  & > button {
    // Fallback
    background-color: #010101;
  }
}

.osjs-gui-button > button {
  background: #010101;
  border: 1px solid #fff;
  color: #ffffff;
}

.osjs-gui-tabs-header > div {
  background-color: #333333;
  color: white;
}

.osjs-gui-tabs-header > div.osjs__active {
  background-color: #333333;
}

.osjs-window-icon > i {
  width: 1em;
  height: 1em;
  background-color: #275362;
  margin: 4px 5px 2px 20px !important;
}

.osjs-panel-item[data-name="windows"] > div {
  font-size: 14px;
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 0px;
  padding: 12px 3px !important;
  align-self: center;
  img {
    max-height: 20px;
  }
}

.osjs-panel .osjs-panel-item--icon > img {
  height: 2.8em;
}

.osjs-gui-menu ul > li {
  padding: 0px;
}

// .osjs-panel-item[data-name="windows"] {
//   .osjs-panel-item--clickable:hover img {
//     -webkit-transition: all 200ms ease-in;
//     -webkit-transform: scale(1.1);
//     -ms-transition: all 200ms ease-in;
//     -ms-transform: scale(1.1);
//     -moz-transition: all 200ms ease-in;
//     -moz-transform: scale(1.1);
//     transition: all 200ms ease-in;
//     transform: scale(1.1);
//   }

//   .osjs-panel-item--clickable:hover {
//     background: #588fa26e;
//   }
// }

// .osjs-panel-item--clickable:hover img {
// -webkit-transition: all 200ms ease-in;
// -webkit-transform: scale(1.1);
// -ms-transition: all 200ms ease-in;
// -ms-transform: scale(1.1);
// -moz-transition: all 200ms ease-in;
// -moz-transform: scale(1.1);
// transition: all 200ms ease-in;
// transform: scale(1.1);
// }

.customActions > .btn.btn-primary {
  color: #345561 !important;
  background-color: #e4e7eb !important;
  border-radius: 42px;
  font-size: 13px;
  box-shadow: 0px 0px 4px 0px grey;
}

.customActions .btn {
  margin-right: 7px;
  border-color: #c5d2d6 !important;
}
.customActions > .btn.btn-primary:hover {
  // color: #345561 !important;
  // border: 0px solid #c7cdd5;
  border-color: #c7cdd5;
  background-color: #c5d2d6 !important;
  // > i {
  //   color: whitesmoke !important;
  // }
}

// For all action buttons in a app on list view page
// .customActions.dash-manager-buttons > button:last-child {
//   margin-right: 2.4%;
// }

// Removed this from the themes and moved to the _panel.scss

// .osjs-panel {
//   height: 2.5em !important;
//   min-height: 2.5em !important;
// }

// .osjs-panel .osjs-panel-item--icon {
//   margin: 0px 2px 0px 2px;

//   > i > span {
//     font-size: 14px;
//   }
// }

.osjs-window-header {
  min-height: 2em;
  height: auto;
  align-items: center;
  // display: none;
}

[data-maximized="false"] {
  .osjs-window-header {
    display: flex;
  }
}

[data-maximized="true"] {
  .osjs-window-header {
    display: none;
  }
}

[data-id="Profile_Window"],
[data-id="ChatWindow"],
[data-id="PreferencesWindow"],
[data-id="annoucementsWindow"],
[data-id="MailApplicationWindow"] {
  .osjs-window-header {
    display: flex;
  }
}

// [data-id="Profile_Window"],
// [data-id="Profile_Window"] {
//   .osjs-window-header  {
//     display: flex;
//   }
// }

.osjs-panel-item[data-name="menu"] {
  display: contents;
  align-items: center;
  padding: 0;
  width: 10%;
  padding: 0px !important;
}

.k-dateinput-wrap {
  input:not([type]),
  input[type="text"]:not(.browser-default),
  input[type="password"]:not(.browser-default),
  input[type="email"]:not(.browser-default),
  input[type="url"]:not(.browser-default),
  input[type="time"]:not(.browser-default),
  input[type="date"]:not(.browser-default),
  input[type="datetime"]:not(.browser-default),
  input[type="datetime-local"]:not(.browser-default),
  input[type="tel"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="search"]:not(.browser-default),
  textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 0px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  }
}

label {
  font-size: 14px;
  color: #9e9e9e;
}

.k-datepicker {
  margin-bottom: 8px;
}
.osjs-search-container {
  // box-shadow: 0 11px 1em rgba(0, 0, 0, 0.5);
  // background: #333333eb;
  color: #fff;
}
.appmenu .app-bar .app {
  border-bottom: 1px solid #275362;
}
.appmenu .app-bar .app .appcaption {
  color: #275362;
}
.profile-dropdown-div:hover {
  color: #275362;
}

// This is for the spacing and we have added it to to contain till 1000 or 5000 page count on the dropdown
// [BUG] #27118
.k-pager-sizes .k-dropdown,
.k-pager-sizes .k-dropdowntree,
.k-pager-sizes > select {
  width: 7em;
}

.sidenav---navitem---9uL5T {
  color: white !important;
}

.col-md-12.dash-manager-buttons {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 1px;
  margin-bottom: 2px;

  .form-control {
    border: 0px !important;
  }
}
.docListDiv .accordion > .card {
  border: 0px;
}

.col-md-3.docListDiv {
  padding: 0px 4px 0px 15px !important;
}

.dash-manager-buttons.card-header {
  margin: 3px;

  .button.btn.btn-primary {
    padding: 0.1rem 0.4rem;
  }
}

.docListBody.borderActive p > a,
.docListBody.border p > a {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.links > button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.k-upload .k-dropzone,
.k-upload .k-upload-button {
  font-size: 12px;
}
// .tab-content {
// min-height: 830px;
// }
.accordion .card .card-header > button {
  border-color: #a2b5bc;
  color: #345561 !important;
  background-color: #e4e7eb !important;
  border-radius: 6px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.accordion .card .card-header {
  background-color: transparent !important;
}
.collapse.show .card-body .docItems .docListBody > i {
  font-size: 10px;
}

iframe {
  border: none;
}

[class*="Window_"] {
  $primary-color: #275362;

  .formContent {
    height: 100%;
    overflow: scroll;
    font-size: xx-small;
    padding: 10px;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: $primary-color;
  }
  .btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .k-button.k-primary {
    /*border-color: $primary-color;*/
    color: #fff;
    /*background-color: $primary-color;*/
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .form-control:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #275362b8;
  }

  .page-link {
    color: $primary-color;
  }

  .display-none {
    display: none;
  }
}

// Grid sizes according to screen resolution
@media screen and (min-width: 1080px) {
  .k-grid {
    font-size: 14px !important;
  }
  .GridCustomStyle .k-grid-table {
    font-size: 14px !important;
  }
  .k-grid-header .k-header {
    font-size: 16px !important;
  }

  // Added as a table/Grid breakpoint - Refer customStyles.scss (gui/src/Grid/customStyles.scss)
  .k-grid-header-wrap {
    table {
      min-width: 500px !important;
    }
  }
  .GridCustomStyle .k-grid-content table {
    min-width: 500px !important;
  }
}

@media screen and (min-width: 1366px) {
  .k-grid {
    font-size: 14px !important;
  }
  .GridCustomStyle .k-grid-table {
    font-size: 14px !important;
  }
  .k-grid-header .k-header {
    font-size: 16px !important;
  }
}
// buttons css  -(only the icon and without any borders and backround colors )
button.btn.btn-ternary{
  border: none !important;
  box-shadow: none;
  background: none !important;
  padding: none !important;
  color: #275362;
  font-size: 14px;
}

//Filter and clear filter buttons changes
.k-filtercell .k-filtercell-wrapper {
  .k-filtercell-operator {
    display: block !important;
    height: 20px !important;
  }
  span.k-dropdown-wrap,
  span.k-dropdown-wrap:hover {
    border-color: #e4e7eb00;
    color: #212529;
    background-color: #e4e7eb00;
  }

  button.k-button.k-button-icon.k-clear-button-visible {
    background-color: #e4e7eb00;
    border-color: #e4e7eb00;
  }

  span.k-select {
    padding: 0px !important;
    margin-bottom: 15px;
  }
  .k-icon.k-i-filter-clear {
    margin-bottom: 15px;
  }

  button.k-button.k-button-icon.k-clear-button-visible {
    padding: 0px !important;
  }

  // .k-filtercell .k-filtercell-operator {
  //   height: 35px !important;
  // }

}

.badgeCheck.filterInApps{
  background-color: #275362;
  bottom: 0px;
   min-height: fit-content;
  min-width: 15px;
  line-height: 15px;
  color:white;
  font-size: 12px;
}

.badgeInApps{
  position: relative;
  top: 10px;
}
  