@import "./node_modules/@progress/kendo-theme-bootstrap/dist/all.css";

.k-animation-container {
  z-index: 20000;
}

.k-dialog-buttongroup {
  position: relative !important;
}

.sidenav---navicon---3gCRo > i {
  font-size: 20px;
}