#kanbanBoard{
    .cardStyle{
        width: 150px;
    }
    
    .cardBody .card{
        border: 0;
        border-radius: 0;
    }
    
    
    .cardCount{
        font-size: 42px;
        font-weight: 600;
        color: #6c6c6c;
        text-align : center;
    }
    
    
    .cardStatusName{
        text-align : center;
        font-size : smaller;
        color : #b7b7b7;
    }
    
    .cardIcon{
        color:black;
        float : left;
        margin: 0;
    }
}