.expenseItem {
    display:flex;
    flex-direction:row;
    flex-flow: row; 
    align-items: flex-start;
    /* padding: 0.5rem; */
    /* margin: 1rem 0; */
  flex-wrap: initial;
  

}

.nav-button {
    display:flex;
    flex-direction:row;
    flex-flow: row;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0.5rem;
    flex-wrap: initial;
}

.cards {
    flex: 0 0 12.5%;padding: 1px;
    margin: 20px;
    box-shadow :2px 3px 4px 4px lightgrey;
    background-color: white;
    max-width: 120px;
    height: 145px;
}

.taskcards {
    flex: 0 0 25%;padding: 1px;
    margin: 0px;
    background-color: white;
    max-width: 300px;
    height: auto;
    border: none;
    border: 0;
}

.taskcards:hover .img {
    border-color: rgb(99, 204, 131);
}

.img{
    border: solid 2px transparent;
    border-radius: 50%;
    width: 20px!important;
    height: 20px !important;
}

.taskcardDisplay{
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.taskcardDisplay1{
    height: auto;
    width: auto;

    display: flex;
    flex-direction: row;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-right: 3%;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0;
}

.horizontalCards{
    border: 0;
}

.lanes_list{
    box-shadow: 0px 2px 9px 4px #302b2b08;
    width: fit-content;
}

.listDiv{
    max-height:340px;
    overflow: hidden;
}
.listDiv:hover{
    overflow-y:auto;
}

/* .listDiv:hover{overflow-y: scroll;}  */
.listDiv:active::-webkit-scrollbar-thumb {
    visibility: visible;
}

.itemCard{
    text-align: center;
}
/*
.calendar{
top: 2rem;
display: flex;
flex-direction: row;
margin-left: 1rem;

align-items: flex-start;

}
.fab{
display: flex;
margin-left: 15px;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 2px;
}
.select{
top: 2rem;
position: initial;
display: flex;
flex-direction: row;
margin-left: 1rem;
margin-top: 0%;

align-items: flex-start;

}
.button{
box-shadow :2px 3px 4px 4px lightgrey;
background-color: white;
border:ivory

}

.Dropdown_menu__3FlHi{
right: inherit;
} */

.list-group-item{
    padding: 0;
}

p{
    margin: 0;
}


.itemGroupName{
    font-size: small;
    margin: 5%;
    color: black;
}
.menu-icon{
    color: black;
    padding-right: 5px;
}
.toggle{
    background-color: white;
    border: none;
    padding-top: 7px;
    color:black;
    font-size: small;
}
.labels{
    background-color: #fff;
    border: none;
    color: black;
    display: block;
    margin-left: 2rem;
    height: 35px;
    padding-top: 7px;
    margin-right: 0px;
    font-size: small;
}
.taskcard-label{
   color: #FF6347;
   font-size: smaller;
   text-align: center;
   margin-left: 30px;
}
.taskcard-sublabel{
    color:#B3B3B3;
    font-weight: 600;
}
.taskcard-p{
    padding: 0px;
    font-size: smaller;
    margin: 0;
    padding-top: 5px;
    font-weight: 600;
    color:#6c6c6c;
}
.label-calendar{
    background-color: #fff;
    border: none;
    color: black;
    display: block;
    margin-left: 2rem;
    height: 35px;
    padding-top: 7px;
    margin-right: 2rem;
    font-size: medium;
    margin-top: 2.5rem;
    margin:45px
}
.input{
    width: 150px;
    margin-left: 1rem;
}